* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 228, 196);
  position: relative;
}

.map-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(70, 15px);
  height: 600px;
  width: 1050px;
}

.unitInfo {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 227, 217);
  height: 100px;
  width: 300px;
  font-size: 20px;
  display: block;
  opacity: 0.7;
}

#WalkButton {
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.centerAllignment {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  margin-top: -300px;
  margin-left: -525px;
  z-index: -1;
}

.centerAllign {
  text-align: center;
  justify-content: center;
}

div {
  background-size: cover;
}

p {
  margin: 0;
  padding: 0;
}

.stack-top {
  z-index: 9;
  outline: 0.5px solid black;
}

.greenish {
  background-color: green;
}
.deep-sea {
  background-color: rgb(52, 89, 235);
}
.sea {
  background-color: rgb(52, 146, 235);
}
.sand {
  background-color: rgb(242, 242, 39);
}
.hard-sand {
  background-color: rgb(222, 200, 35);
}
.terracota {
  background-color: rgb(222, 150, 35);
}
.dirt1 {
  background-color: rgb(171, 112, 17);
}
.dirt2 {
  background-color: rgb(133, 84, 5);
}
.dirt3 {
  background-color: rgb(102, 59, 6);
}
.rock {
  background-color: rgb(61, 36, 6);
}
.rock-solid {
  background-color: black;
}
